/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background: linear-gradient(to top, black, transparent);
}
  
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.top {
    background: 
      linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 30%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent 30%),
      url('./assets/background.jpg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
}
  
.top::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
nav {
    position: relative;
    z-index: 2;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#picture {
    position: absolute;
    left: 140px;
    bottom: -43px;
    height: 164px;
}
  
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
  
nav li {
    display: flex;
    align-items: center;
}
  
.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
  
.select-wrapper .material-icons {
    position: absolute;
    left: 990px;
    top: 17px;
    color: white;
    font-size: 12pt;
    pointer-events: none;
}
#arrow{
    position: absolute;
    left: 1075px;
    color: #999;
    pointer-events: none;
}
.select-wrapper select {
    padding: 5px 20px 5px 35px;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #606060;
    margin-left: 980px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    appearance: none;
}

select:after{
    content: "\2B9F";
}
select option {
    color: black;
}
  
button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
.top h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 25vh;
    font-weight:bolder;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0 20px;
}
  
.top h2, .top p {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    font-weight: 400;
    padding: 0 20px;
}
  
.top h2 {
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 40px;
}
  
.top p {
    font-size:  1rem;
    margin-bottom: 20px;
}
  
.email-form {
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    justify-content: center;
    height: 55px;
}
  
.email-form input {
    flex: 1;
    padding: 15px;
    font-size: 1rem;
    border: solid gray 1px;
    color: rgba(79, 79, 79, 0.675);
    outline: none;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
}
  
.email-form button {
    padding: 15px 25px;
    font-size: 1.3rem;
    background-color: #e50914;
    color: white;
    border: none;
    height: 54px;
    width: 200px;
    margin-top: 0px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
}  

.arch-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
.arch-divider svg {
    display: block;
    width: 100%;
    height: 25px;
    transform: rotate(180deg);
  }

.color-swap{
    height: 80px;
    background: 
        linear-gradient(to top, rgba(0, 0, 0)30%, rgb(6, 29, 78)100%);
}

.ad-plan{
    display: flex;
    min-height: 150px;
    height: 150px;
    background-color: black;
    width: 100%;
    transition: transform 0.3s ease;
}
.ad-plan:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.ad-plan .bubble:hover{
    background:linear-gradient(to left, rgb(46, 18, 46), rgb(53, 45, 88));
}

.default-ltr-cache-k26662 {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.bubble {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: auto;
    padding: 20px;
    background:linear-gradient(to left, rgb(33, 13, 33), rgb(40, 40, 75));
    width: 70%;
    height: 80px;
    border-radius: 10px;
    transition: background 10.3s ease, transform 0.3s ease;
}

.words{
    display: block;
    align-items: normal;
    color: white;
    cursor: default;
}
.words h2{
    padding: 0;
    margin:0;
}
.words p {
    padding: 0;
    margin: 0;
}
.ad-plan #learn{
    background-color: rgb(95, 90, 113);
    height: 40px;
    width: 135px;
    margin-top: 0;
    padding: 5px;
    font-size: 14pt;
    font-weight: 700;
    margin-left: 400%;
}

.trendingSection {
    padding: 20px;
    background-color: #000000;
    color: white;
}
.trendingSection h2{
    color: white;
    margin-left: 12%;
    font-size: 22pt;
}

.trendingRow {
    margin-top: 15px;
    background-color: black;
    width: 75%;
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
  
.trendingRow::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
  
.card {
    flex: 0 0 auto;
    width: 215px;
    height: 280px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #333;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s;
}
  
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card:hover {
    transform: scale(1.09);
    cursor: pointer;
}
  
.bottom{
    height: 100px;
    background-color: orange;
}